@charset "UTF-8";
:root {
  --black-50: #f6f6f6;
  --black-100: #e7e7e7;
  --black-200: #d1d1d1;
  --black-300: #b0b0b0;
  --black-400: #888888;
  --black-500: #6d6d6d;
  --black-600: #5d5d5d;
  --black-700: #4f4f4f;
  --black-800: #454545;
  --black-900: #3d3d3d;
  --black-950: #111111;
  --white: #ffffff;
  --primary-50: #f0f5fe;
  --primary-100: #dde9fc;
  --primary-200: #c2d9fb;
  --primary-300: #98c1f8;
  --primary-400: #68a1f2;
  --primary-500: #447eed;
  --primary-600: #2f60e1;
  --primary-700: #264ccf;
  --primary-800: #253fa8;
  --primary-900: #233985;
  --primary-950: #1a2551;
  --secondary-50: #f6f6f7;
  --secondary-100: #eef0f1;
  --secondary-200: #e0e3e5;
  --secondary-300: #ccd0d5;
  --secondary-400: #b6bbc3;
  --secondary-500: #a2a8b2;
  --secondary-600: #858a97;
  --secondary-700: #797d89;
  --secondary-800: #636670;
  --secondary-900: #53565c;
  --secondary-950: #303136;
  --sky: #CCDBE8;
  --success: #32C771;
  --green: #00c73c;
  --warning: #FFAA00;
  --error: #EB5757;
  --init-black-50: #f6f6f6;
  --init-black-100: #e7e7e7;
  --init-black-200: #d1d1d1;
  --init-black-300: #b0b0b0;
  --init-black-400: #888888;
  --init-black-500: #6d6d6d;
  --init-black-600: #5d5d5d;
  --init-black-700: #4f4f4f;
  --init-black-800: #454545;
  --init-black-900: #3d3d3d;
  --init-black-950: #111111;
  --init-white: #ffffff;
  --set-white: invert(100%) sepia(6%) saturate(0%) hue-rotate(70deg) brightness(108%) contrast(108%);
  --set-black-950: invert(0%) sepia(19%) saturate(7167%) hue-rotate(41deg) brightness(112%) contrast(87%) ;
}

html,
body {
  font-family: "Pretendard KR", "Sans-serif";
  padding: 0 0 60px 0;
  font-size: 14px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  word-break: keep-all;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button {
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Pretendard KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Pretendard-Light.woff2) format("woff2"), url(../fonts/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard KR";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Pretendard-Regular.woff2) format("woff2"), url(./fonts/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard KR";
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/Pretendard-Medium.woff2) format("woff2"), url(./fonts/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard KR";
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/Pretendard-SemiBold.woff2) format("woff2"), url(./fonts/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Pretendard-Bold.woff2) format("woff2"), url(./fonts/Pretendard-Bold.woff) format("woff");
}
img {
  color: var(--black-950);
}

img:empty {
  display: block;
}

img:empty::before {
  content: "이미지를 찾을 수 없습니다";
  background-color: var(--white);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-content: center;
  text-align: center;
  padding-inline: 10px;
  box-sizing: border-box;
  font: 400 12px/120% "Pretendard";
}/*# sourceMappingURL=common.css.map */