@charset "utf-8";

.subTopSec{ display: flex; width: 100%; background: url(../img/img_main.png) no-repeat 50% 100%; justify-content: space-between; padding: 56px;}
.subTopSec .leftContent .dateContents{border-radius: 16px; background-color: #F0ECE4; width: 103px; height: 32px; text-align: center; line-height: 32px; margin-bottom: 16px;}
.subTopSec .leftContent .dateContents span{color: #000; font-size: 15px; font-weight: 400;}
.subTopSec .leftContent .mainText1{font-size: 40px; font-weight: 300; line-height: 48px; letter-spacing: 0.108px; margin-bottom: 6px;}
.subTopSec .leftContent .mainText1 span{font-weight: 600;}
.subTopSec .leftContent .subText1{font-size: 27px; font-weight: 300; line-height: 34px; letter-spacing: 0.16px; margin-bottom: 35px;}
.subTopSec .leftContent span{font-weight: 600; color: #A50034;}
.subTopSec .leftContent .subText2{font-size: 23px; line-height: 34px; letter-spacing: -1px; display:flex; align-items: center;}
.subTopSec .leftContent .subText3{font-size: 18px; font-weight: 300; line-height:1.3;}
.subTopSec .leftContent .subText3 a{text-decoration: underline; display:inline;}
.subTopSec .rightContent{width: calc(100% / 3);}
.subTopSec .rightContent p{font-size: 20px; font-weight: 600; line-height: 27px; margin-bottom: 35px;}
.subTopSec .rightContent ul li{font-size: 16px; margin-bottom: 12px; display: flex; justify-content: space-between;}
.subTopSec .rightContent ul li a{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 20px;}
.subTopSec .rightContent ul li span{color:#716F6A; display: flex;}
.subTopSec .rightContent ul li .ShortcutIcon{background: url(../img/ic_href.svg) no-repeat; width: 24px; height: 24px; margin-left: 4px;}
.subTopSec.mainTopSec{padding: 30px 30px; background-position: 57% 100%;}
.subTopSec.mainTopSec .rightContent{width: calc(100% / 3.5);}

/* swiper part start*/
.quickGuide{height:788px; padding:30px 34px;}
.quickGuide > h2.title{font-size: 20px; font-weight: 600; text-align: center; margin-bottom: 34px;} 
.quickGuide .swiper-slide{}
.quickGuide .swiper-slide .mainTitle {font-size: 38px; text-align: center; margin-bottom: 50px; margin-top: 16px; font-weight: 400;}
.quickGuide .swiper-slide .mainTitle b{font-weight: 600;}
.quickGuide .swiper-slide .subTitle{font-size: 38px; font-weight: 600; display: flex; align-items: center; gap: 22px; padding-left: 12px; margin-bottom: 34px;}
.quickGuide .swiper-slide ul{display: flex; justify-content: center; padding: 0 38px; gap: 20px;}
.quickGuide .swiper-slide .chartCard{border-radius: 12px; background: #FBF8F4; text-align: center; position: relative;  border: 1px solid #CBC8C2; cursor:pointer;}
.chartCard.active, .chartCard:hover{box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10); border: 1px solid  #A50034 !important;}
.quickGuide .swiper-slide .chartCard > a{display: flex; flex-direction: column; justify-content: center; align-items: center; gap:41px; padding:38px 20px; width: 420px; height: 427px;}
.quickGuide .swiper-slide .chartCard img{}
.quickGuide .swiper-slide .chartCard strong{font-weight: 400; font-size: 24px;}
.quickGuide .swiper-slide .chartCard strong b{font-weight: 600;}
.quickGuide .swiper-slide .chartCard p:first-child{font-size: 30px; font-weight: 600; line-height: 36px;}



/* swiper slide start */
.swiper{position: relative; height:700px;}
.buttonsSection{display: flex; justify-content: center; gap: 12px; margin-top: 10px; position: absolute; bottom: 30px; left: 0; width: 100%; z-index:1;} 
.buttonsSection .button-prev{font-size: 20px; font-weight: 700; border-radius: 50px; line-height: 20px; padding:19px 28px; border:1px solid #646464; color:#000; margin: 0;}
.buttonsSection .button-next{font-size: 20px; font-weight: 700; border-radius: 50px; line-height: 20px; padding: 20px 28px; background-color: #A50034; color: #fff; margin: 0;}
.buttonsSection button:disabled{opacity: 1; color: #CBC8C2; border: 1px solid #CBC8C2; background-color: #EFEFEF; cursor: default;}
.showBox{position: absolute; left: 0; bottom: 30px; z-index:1;}
.showBox label{display:inline-block; padding:15px 15px 15px 45px; border-radius:6px;}
.showBox label:hover{background-color:#E6E1D6;}
.showBox label .checkmark{top:auto; bottom:auto; left:15px;}

.keywordList{}
.keywordList button{font-weight: 400 !important; margin: 0 2px;}

.tabArea{width: 100%; height: 427px; border-radius: 12px; border: 1px solid #CBC8C2; overflow:hidden;}
.tabs {display:flex; padding:0; border-bottom: 1px solid #CBC8C2; padding: 0 !important; gap: 0 !important;}
.tabs.col4 li{width:25%;}
.tabs.col5 li{width:20%;}
.tabs li a{display:block; text-align: center; border-left:1px solid #CBC8C2; height: 56px; padding:16px 0; font-size: 20px; font-weight: 600; position: relative;}
.tabs li:first-child a{border-left:none;}
.tabs li.active a, .tabs li a:hover{background: #E6E1D6;}
.tabs li.active a:after{display: block; position: absolute; left:50%; bottom:-10px; transform: translate(-50%,-0); width:35px; height:10px; background:url(../img/ico_tab_on.png) center center no-repeat; content: "";}

.tab_container{}
.gideIinner{display:flex; gap:50px; padding:50px; word-break:keep-all;}
.gideIinner dl dt{display:flex; gap:12px; font-weight: 600; font-size: 24px; margin-bottom: 20px;} 
.gideIinner dl dt span{color: #A50034;}
.gideIinner dl dd{ }
.gideIinner dl dd .txt{margin-bottom: 20px; line-height:1.4; max-height:155px; font-size: 20px;}
























