@charset "utf-8";

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans Light'),
	   local('NotoSans-Light'),
	   url('../fonts/NotoSans-Light.woff2') format('woff2'),
	   url('../fonts/NotoSans-Light.woff') format('woff'),
	   url('../fonts/NotoSans-Light.otf') format('opentype');
}

/* @font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local('Malgun Gothic'),
	   local('Malgun Gothic');
}*/



@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans Regular'),
	   local('NotoSans-Regular'),
	   url('../fonts/NotoSans-Regular.woff2') format('woff2'),
	   url('../fonts/NotoSans-Regular.woff') format('woff'),
	   url('../fonts/NotoSans-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'),
	   local('NotoSans-Medium'),
	   url('../fonts/NotoSans-Medium.woff2') format('woff2'),
	   url('../fonts/NotoSans-Medium.woff') format('woff'),
	   url('../fonts/NotoSans-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'),
	   local('NotoSans-Bold'),
	   url('../fonts/NotoSans-Bold.woff2') format('woff2'),
	   url('../fonts/NotoSans-Bold.woff') format('woff'),
	   url('../fonts/NotoSans-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: local('Noto Sans Black'),
	   local('NotoSans-Black'),
	   url('../fonts/NotoSans-Black.woff2') format('woff2'),
	   url('../fonts/NotoSans-Black.woff') format('woff'),
	   url('../fonts/NotoSans-Black.otf') format('opentype');
}


