@charset "UTF-8";


html, body{
    height: 100%;
}
body{background-color:#f5f8fb;}
#wrap{min-width:1260px; font-family: 'Malgun Gothic','맑은 고딕',serif; height: 100%;}


input[type="text"] {border:1px solid #dddddd; background-color: #fff; height:35px; vertical-align: top;}
input[type="radio"] {vertical-align: middle;}
select{border:1px solid #bbbbbb; background-color: #fff; height:36px; vertical-align: top;}
button.ui-datepicker-trigger{border-left:none; background-color: #f8f8f8; height:26px; width:29px; vertical-align: top;}
button.ui-datepicker-trigger img{display:inline-block; margin-top: 0px;}
textarea {border:1px solid #bbbbbb; background-color: #fff; vertical-align: top;}


/* header */
#header .top{background-color: #0faaab; overflow:hidden; height:42px; border-bottom:2px solid #dddddd; }
#header .top h1{margin: 5px 0 0 20px; float:left;}
#header .top .top_log{float:right; margin: 13px 20px 0 0; color:#fff; font-size:13px; font-weight: 600; padding-left:20px; background: url(../images/ico_toplog.png) no-repeat left center; }


#lnb{width:100%; border-bottom:1px solid #dddddd; padding:11px 0; background-color:#fff;}
#lnb > ul {width:1200px; margin:0 auto; }
#lnb > ul:after{display: block; clear: both; content: "";}
#lnb > ul > li{float:left; text-align: center; position: relative; margin:0 19px;}
#lnb > ul > li:first-child{margin-left: 0; }
#lnb > ul > li:last-child{margin-right: 0; }
#lnb > ul > li > a{display:block; padding:15px 20px; font-size: 16px; font-weight: 600; line-height: 1; transition: background 0.2s; border-radius:7px; }
#lnb > ul > li:hover > a, #lnb > ul > li.on > a {background-color: #f5e5e9; color:#f63e70; } 

 
#container{position: relative; min-width:1260px; padding:25px 30px 25px 30px;} 

/* page navigation */
.page_title{overflow:hidden; margin-bottom: 25px;}
.page_title h2{float:left; font-size: 26px; font-weight: 600; line-height: 1; }
.breadcrumb{float:right; margin-top: 7px;}
.breadcrumb ul li{font-size: 12px; color: #666666; float:left; margin-right:6px;  padding-right:13px; background: url(../images/arr_breadcrumb.png) no-repeat right 3px; line-height: 15px; letter-spacing: 0;}
.breadcrumb ul li:last-child{background: none; margin-right: 0; padding-right: 0;}
.breadcrumb ul li a{display:block; width:16px; height:15px; text-indent:-9999px;  background: url(../images/ico_home.png) no-repeat center bottom; } 

.contents{position: relative;}
.contents:after{display: block; clear: both; content: "";}

.article{} 


/* 검색박스 */
.searchBox{background-color:#fff; border:1px solid #cecece; border-left:4px solid #ff839b; padding:10px 15px; position: relative; margin-bottom: 15px; -webkit-box-shadow: 0px 2px 0px 0px #e4e6e9; box-shadow: 0px 2px 0px 0px #e4e6e9;}
.searchBox .btn_join{position: absolute; right: 0; top:0; bottom:0; color:#fff;border:none; font-weight: 600; width:55px; padding:8px 10px; line-height: 1; font-size: 14px; border-radius:2px; text-indent:-9999px; background: url(../images/btn_inquiry.png) no-repeat center center #ff839b;} 
.inputList ul{margin-left:-1%; ; min-width: 475px;}
.inputList ul:after {display: block; clear: both; content: "";}
.inputList ul li{float:left; margin-bottom: 0; height:35px; line-height: 35px; margin-left:30px; }
.inputList ul li label{color: #212121; line-height: 1.5; font-weight: 600; display:inline-block; margin-right:10px; font-size:16px;}
.inputList ul li input[type="text"],  .inputList ul li select{width:200px;}


/* 결과 테이블 */
.result_top {margin-bottom: 6px; }
.result_top:after {display: block; clear: both; content: "";}
.result_top .total{float:left; font-size: 14px; color: #444; padding-top: 10px;}
.result_top .total b{font-size: 14px; font-weight: 600; color: #f63e70;}

.result_btn {float:right;}

.r_btn{display:inline-block; padding:6px 8px 7px 8px; color: #fff; font-size:14px; line-height: 1; font-weight: 600; min-width:55px; text-align: center;}
.b_bluegreen{background-color: #119998; }
.b_green{background-color: #2c9d3c; }
.b_orange{background-color: #dc6914;}
.b_cyan{background-color: #249fb6; }
.b_skyblue{background-color: #1c92eb}
.b_blue{background-color: #3672d4; }
.b_pink{background-color: #ec5c75; }
.b_gray{background-color: #8d9ca9; }
.b_darkgray{background-color: #6b747c; }

.t_btn{display:inline-block; padding:4px 1px 4px 1px; color: #fff; font-size:12px; line-height: 1; font-weight: 600; min-width:41px; text-align: center;}
.t_pink{background-color: #ffc8d3; color: #a63f52;}
.t_gray{background-color: #c9d0d6; color: #333;}
.t_green{background-color: #b3e6e6; color: #0b7575;}


/* 리스트 테이블 */
.bbs_list{overflow:hidden;}
.bbs_list table{border-top:2px solid #7c8690; width: 100%; table-layout: fixed; margin-left:-1px;}
.bbs_list table thead tr th {background-color: #f6eff1; vertical-align: middle; text-align: center; border-left:1px solid #cecece; border-bottom:1px solid #cecece; padding:8px 0; position: relative; font-size:15px; font-weight:600;}
.bbs_list table tbody tr td{color:#333; vertical-align: middle; text-align: center; border-left:1px solid #cecece; border-bottom:1px solid #cecece; padding:7px 10px; background-color:#fff;}
.bbs_list table tbody tr:hover td{background-color: #faf9f1;}
.bbs_list table tbody tr td:first-child {border-left:none; }
 
.txt_dotdotdot{display: inline-block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; width:100%; color:#333; vertical-align: middle; color:#336fac;}
a.txt_dotdotdot:hover{text-decoration:underline;}

.object{display:inline-block; background-color: #333; border-radius:15px; width:12px; height:12px; text-indent:-9999px; vertical-align: middle;}
.no-cursor{color:#888888;}


/* 쓰기 보기 테이블 */
.bbs_write table{width:100%; border-top:2px solid #152843;}
.bbs_write table tbody tr th{background-color: #f0f2f3; border-bottom:1px solid #cecece; border-right:1px solid #cecece; font-size: 15px; text-align:left; font-weight: 600; padding:5px 20px; vertical-align: middle; text-align: center; }
.bbs_write table tbody tr th label{font-size:15px;}
.bbs_write table tbody tr th .str{color:#f63e70; font-weight:600;}
.bbs_write table tbody tr td{background-color: #fff; border-bottom:1px solid #cecece; font-size: 13px; padding:5px 10px; vertical-align: middle; height:39px; }
.bbs_write table tbody tr td label {margin-left:15px; font-size: 13px; }
.bbs_write table tbody tr td label:first-child {margin-left:0;}
.bbs_write table tbody tr td input[type="text"], .bbs_write table tbody tr td input[type="password"], .bbs_write table tbody tr td input[type="file"], .bbs_write table tbody tr td select{border:1px solid #acacac; height:28px;}
.bbs_write table tbody tr td input[type="checkbox"], .bbs_write table tbody tr td input[type="radio"]{vertical-align: top;}
.bbs_write table tbody tr td select{border:1px solid #acacac; height:28px;}
.bbs_write table tbody tr .b-l{border-left:1px solid #cecece;}
.bbs_write table tbody tr td .txt-va{position: relative; top: 5px; line-height: 1.3;}




/* 파일찾기 */
/* 파일찾기 */
.writeFile{display:block;}
.writeFile:after{display: block; clear: both; content: "";}
.writeFile input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; } 
.writeFile label {cursor: pointer;  margin-left: 0 !important; }
.writeFile .upload-name {border: none; background-color: #fff; vertical-align: middle; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }
.btn_file_serch {padding:9px 10px; background-color: #242d3a; border:1px solid #242d3a; color: #fff; vertical-align: middle;}

/* 하단 버튼 박스 */
.btn_box {text-align: right; margin-top: 10px; margin-bottom: 20px;}





/* 페이징 */ 
.pagination {text-align: center; margin:10px 0 12px 0; position: relative;}
.pagination a {display:inline-block; vertical-align: top; font-size: 12px; color: #333333; line-height: 1; width:25px; height:25px; line-height: 1; text-align: center; padding:5px 0; border:1px solid #dedede; background-color: #fff; margin-left:-2px;}
.pagination a.p_btn {background-position: center center; background-repeat: no-repeat; text-indent:-9999px; background-color:#dae1e8; border:none;}
.pagination a.first{background-image: url(../images/ico_page_first.png); } 
.pagination a.prev{background-image: url(../images/ico_page_prev.png);} 
.pagination a.next{background-image: url(../images/ico_page_next.png);} 
.pagination a.last{background-image: url(../images/ico_page_last.png);} 
.pagination a.on{font-weight: 600; color: #fff; background-color:#7c8690; border:1px solid #7c8690; }


/* 팝업 */
#pop_wrap{min-width:100%;}
.layerHead{border-bottom:1px solid #ddd; padding:17px 35px;}
.layerHead:after{display: block; clear: both; content: "";}
.layerHead h1{font-size:26px; font-weight:600; float:left; line-height: 1;}
#pop_cont{background-color: #f5f8fb; }

/* 에디터 */
.editor{text-align: center; font-size:40px; padding-top: 270px; min-height:600px;}


.ta-c {text-align: center !important;}
.ta-l {text-align: left !important;}
.ta-r {text-align: right !important;}
.f-l {float:left !important;}
.f-r {float:right !important;}
.f-n {float:none !important;}
.c-b {clear:both !important;}



/* 길이 px */
.w50px{width:50px;}
.w60px{width:60px;}
.w70px{width:70px;}
.w80px{width:80px;}
.w90px{width:90px;}
.w100px{width:100px;}
.w120px{width:120px;}
.w140px{width:140px;}
.w160px{width:160px;}
.w180px{width:180px;}
.w200px{width:200px;}
.w220px{width:220px;}
.w240px{width:240px;}
.w260px{width:260px;}
.w280px{width:280px;}
.w500px{width:500px;}
.w600px{width:600px;}
.w800px{width:800px;}
.w1200px{width:1200px;}


/* 길이 percent */
.w10per{width:10%;}
.w13per{width:13%;}
.w15per{width:15%;}
.w20per{width:20%;}
.w25per{width:25%;}
.w30per{width:30%;}
.w35per{width:35%;}
.w40per{width:40%;}
.w45per{width:45%;}
.w50per{width:50%;}
.w55per{width:55%;}
.w60per{width:60%;}
.w65per{width:65%;}
.w70per{width:70%;}
.w75per{width:75%;}
.w80per{width:80%;}
.w90per{width:90%;}
.w100per{width:100%;}










